.charlie{
   background-color: darkturquoise;
   width: 580px;
   height: 20px;
   
}
.emma{
    background-color: darkturquoise;
    width: 580px;
    height: 20px;
 }
 .dylan{
    background-color: darkturquoise;
    width: 580px;
    height: 20px;
 }
 .jyot{
    background-color: darkturquoise;
    width: 580px;
    height: 20px;
 }
 .liz{
    background-color: darkturquoise;
    width: 580px;
    height: 20px;
 }
 .April{
    background-color: darkturquoise;
    width: 580px;
    height: 20px;
 }
 .Callum{
    background-color: darkturquoise;
    width: 580px;
    height: 20px;
 }
 .medetdi{
    margin-left: 30px;
 }